.outer{
    background-image: url('https://cdn.dnaindia.com/sites/default/files/styles/full/public/2020/05/05/904879-841177-exam-representational-photo.jpg');
    background-size: cover;
    background-position: right;
    min-height: 450px;
}